DB_ROOT_PASSWORD="${DB_ROOT_PASSWORD}"
DB_NAME="${DB_NAME}"
DB_USER_NAME="${DB_USER_NAME}"
DB_PASSWORD="${DB_PASSWORD}"

AWS_ACCESS_KEY="${AWS_ACCESS_KEY}"
AWS_SECRET_KEY="${AWS_SECRET_KEY}"
S3_PROFILE_BUCKET_NAME="${S3_PROFILE_BUCKET_NAME}"
S3_TESTCASE_BUCKET_NAME="${S3_TESTCASE_BUCKET_NAME}"
DEFAULT_PROFILE_URL="${DEFAULT_PROFILE_URL}"
