DB_ROOT_PASSWORD="${DB_ROOT_PASSWORD}"
DB_NAME="${DB_NAME}"
DB_USER_NAME="${DB_USER_NAME}"
DB_PASSWORD="${DB_PASSWORD}"

AWS_ACCESS_KEY="${AWS_ACCESS_KEY}"
AWS_SECRET_KEY="${AWS_SECRET_KEY}"
S3_PROFILE_BUCKET_NAME="${S3_PROFILE_BUCKET_NAME}"
S3_TESTCASE_BUCKET_NAME="${S3_TESTCASE_BUCKET_NAME}"
S3_SUBMISSION_BUCKET_NAME="${S3_SUBMISSION_BUCKET_NAME}"
DEFAULT_PROFILE_URL="${DEFAULT_PROFILE_URL}"
EC2_DB_HOST="${EC2_DB_HOST}"
EC2_JUDGE_HOST="${EC2_JUDGE_HOST}"
CLIENT_DOMAIN_NAME="${CLIENT_DOMAIN_NAME}"
JUDGE_DOMAIN_NAME="${JUDGE_DOMAIN_NAME}"

JUDGE_QUEUE_NAME="${JUDGE_QUEUE_NAME}"
JUDGE_QUEUE_HOST="${JUDGE_QUEUE_HOST}"
JUDGE_QUEUE_DOMAIN_NAME="${JUDGE_QUEUE_DOMAIN_NAME}"
JUDGE_QUEUE_USERNAME="${JUDGE_QUEUE_USERNAME}"
JUDGE_QUEUE_PASSWORD="${JUDGE_QUEUE_PASSWORD}"
JUDGE_QUEUE_REQUEST_QUEUE="${JUDGE_QUEUE_REQUEST_QUEUE}"
JUDGE_QUEUE_PROGRESS_QUEUE="${JUDGE_QUEUE_PROGRESS_QUEUE}"
JUDGE_QUEUE_RESULT_QUEUE="${JUDGE_QUEUE_RESULT_QUEUE}"

SCOUTER_SERVER_ADDR="${SCOUTER_SERVER_ADDR}"
SCOUTER_OBJ_NAME="${SCOUTER_OBJ_NAME}"